# What is Pandas

In [1]:
import pandas as pd

Series--- 1D labeled array(with Index)
DataFrame--- 2D labeled(Index and Column Names)

# Series

In [3]:
Y = pd.Series([1,2,3])

In [4]:
type(Y)

pandas.core.series.Series

# DataFrame

In [9]:
pd.DataFrame([[1,2],[2,3]],columns=['name1','name2'])

   name1  name2
0      1      2
1      2      3

# Create DataFrame with 

Lists<br>
dict<br>
Series<br>
Numpy ndarrays<br>

# Numpy to DataFrame

In [11]:
dicts = {}

dicts['name1']= [1,2]
dicts['name2']= [2,3]
dicts

{'name1': [1, 2], 'name2': [2, 3]}

In [12]:
pd.DataFrame(dicts)

   name1  name2
0      1      2
1      2      3

In [20]:
import numpy as np

Y =np.random.random((2,2))

df =pd.DataFrame(Y)

df.columns =['name1','name2']

In [21]:
df

      name1     name2
0  0.169037  0.663068
1  0.430555  0.244990

# Check index and columns

In [22]:
df['name1']

0    0.169037
1    0.430555
Name: name1, dtype: float64

In [23]:
df.loc[0]

name1    0.169037
name2    0.663068
Name: 0, dtype: float64